<!DOCTYPE html>
<html data-ng-app="dq-angular-root">
	<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-resource.js"></script>
    <script type="text/javascript" src="scripts/dq-angular-root.js"></script>
	<link rel="stylesheet" href="styles/dq-style.css"/>
	<body>
		<h1>DQ AngualarJS Page</h1>
		<div id="container">
			<div id="top_left_panel" data-ng-controller="two_way_binding">
				<div class="div-block">
					Favorite word: <input type="text" data-ng-model="favoriteWord"/>
				</div>
				<div class="div-block">
					{{favoriteWord}}
				</div>
				<div class="div-block">
					Favorite color:
					<input type="radio" name="fc" value="Red" data-ng-model="favoriteColor">Red </input>
					<input type="radio" name="fc" value="Green" data-ng-model="favoriteColor">Green</input>
					<input type="radio" name="fc" value="Yellow" data-ng-model="favoriteColor">Yellow</input>
					<input type="radio" name="fc" value="Blue" data-ng-model="favoriteColor">Blue</input>
				</div>	
				<div class="div-block">
					{{favoriteColor}}
				</div>
				<div class="div-block">
					Favorite shape:
					<select data-ng-model="favoriteShape">
						<option value="Circle">Circle</option>
						<option value="Triangle">Triangle</option>
						<option value="Square">Square</option>
					</select>
				</div>
				<div class="div-block">
					{{favoriteShape}}
				</div>
			</div>
			<div id="top_centre_panel" data-ng-controller="users">
				<table>
					<thead class="header">
						<tr>
							<td>Username</td>
							<td>Email</td>
						</tr>
					</thead>
  				    <tbody>
					   <tr data-ng-repeat="user in users" data-ng-class="{oddRow: $odd}">
						<td>{{user.username}}</td>
						<td>{{user.email}}</td>
					   </tr>
				    </tbody>
				</table>
			</div>
			<div id="top_right_panel">
				<form data-ng-submit="submit()" data-ng-controller="create_user">
					<div class="div-block">
					  <label for="username">Username:</label>
					  <input type="text" id="username" data-ng-model="username">
					</div>
					<div class="div-block">
					  <label for="password">Password:</label>
					  <input type="password" id="password" data-ng-model="password">
					</div>
					<div class="div-block">
					  <label for="email">Email:</label>
					  <input type="email" id="email" data-ng-model="email">
					</div>
					<div class="div-block">
					  <label for="firstname">Firstname:</label>
					  <input type="text" id="forename" data-ng-model="firstname">
					</div>
					<div class="div-block">
					  <label for="surname">Surname:</label>
					  <input type="text" id="surname" data-ng-model="surname">
					</div>
					<div class="div-block">
					  <input type="submit" id="submit" value="Submit" />
					</div>
					<div class="div-block" data-ng-model="new_user">
						Added user: {{new_user}}
					</div>
				</form>
			</div>
		</div>
    </body>
</html>